body{
     background-color:rgb(255, 253, 230);
}


h1{
     font-family: 'Bungee Outline', cursive;
     font-family: 'Comfortaa', cursive;
     font-size: 250%;
     background-color: bisque;
     color:  #c70064;
     text-align: center;
}

h3{
     font-family: 'Pacifico', cursive;
     font-size: 200%;
     background-color: bisque;
     color:  #2f0038;
     text-align: center;
}

h5{
     font-family: 'Bungee Outline', cursive;
     font-family: 'Comfortaa', cursive;
     font-size: 150%;
     
     color:  #1de22d;
     text-align: center;
}