body{
     background-color:#fff;
}

p{
     font-size: 150%;
     background-color: bisque;
     color:  #0090b4;
     text-align: center;
}

h1{
     font-size: 250%;
     background-color: bisque;
     color:  #c70064;
     text-align: center;
}

h3{
     font-size: 200%;
     background-color: rgb(37, 136, 175);
     color:  #2f0038;
     text-align: center;
}

h5{
     font-size: 150%;
     background-color: bisque;
     color:  #1de22d;
     text-align: center;
}